<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-12 shadow rounded  py-5  mt-5">
            <div class="text-container">
               <div class="text-center three-d-text">User Registration</div>
            </div>
 
            <div class="mt-5">
                  <form [formGroup] ="user">
                         <div class="row">
                           <!-- // this div belongs to use profile  -->
                            <div class="col-md-2">
                                     <h2 class="font-italic"></h2>
                            </div>   

                          <!-- // this div belong to user details -->
                          <div class="col-md-5" formGroupName="userDetails" #UserDetails > 
                                 <h2 class="font-italic">User Details</h2>
                                 <div class="row" >

                                    <div class="">
                                        <mat-form-field class="eleWidth">
                                           <mat-label>Full Name</mat-label>
                                           <input matInput placeholder="Ex. Suraj"   formControlName="fullName">
                                        </mat-form-field>
                                        <small *ngIf="!user.get('userDetails.fullname').valid && !user.get('userDetails.fullname').touched ">fullname required</small>
                                        
                                    </div>

                                    <div class="mt-2">
                                        <mat-form-field class="eleWidth">
                                            <mat-label>Choose a BirthDate</mat-label>
                                            <input matInput [matDatepicker]="picker" formControlName="birthday" >
                                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                            <mat-datepicker #picker></mat-datepicker>
                                          </mat-form-field>
                                    </div>
                                    <div class="mt-2">  
                                        
                                        <mat-form-field class="eleWidth">
                                            <mat-label>Select an gender</mat-label>
                                              <mat-select formControlName="gender">
                                                <mat-option value="Male">Male</mat-option>
                                                <mat-option value="Female">Female</mat-option>
                                              </mat-select>
                                          </mat-form-field>
                                    </div>

                                    <div class="mt-2">
                                      <div class="row">
                                          <div class="col-md-3">
                                            <mat-form-field class="eleWidth">
                                              <mat-label>Select country</mat-label>
                                                <mat-select  formControlName="country" [(ngModel)]="selectedCountry" (selectionChange)="selectCountryCode()">
                                                  <mat-option value="{{country.name}}" *ngFor="let country of countries">{{country.name}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                          </div>
                                            <div class="col">
                                              <mat-form-field style="width: 73%;">
                                                <mat-label>enter mobile number</mat-label>
                                                <input matInput placeholder="Ex. 123457890" [(ngModel)]="setCountryCode"   formControlName="phone">
                                             </mat-form-field>
                                            
                                          </div>

                                      </div>
                                    </div>


                                    <div class="mt-2">
                                      <mat-form-field class="eleWidth" style="height: 20%;">
                                        <mat-label>tell me about yourself</mat-label>
                                        <textarea matInput placeholder="Ex. about yourself" #bio [(ngModel)]="texts"  ></textarea>
                                        <mat-hint>tell me about yourself</mat-hint>
                                       
                                          <mat-hint align="end">
                                             {{bio.value.length}}/256
                                            </mat-hint>
                                       
                                      </mat-form-field>
                                    </div>    

                                 </div>

                          </div>

                          <div class="col-md-5" formGroupName="accountDetails">
                                   <h2 class="font-italic">AccountDetails</h2>
                          </div>
                               
                              
                         </div>
                  </form>
            </div> 
        </div>
    </div>
</div>

