.text-container {
    perspective: 800px;
  }

  .three-d-text {
    font-size: 2em;
    font-family: 'Arial', sans-serif;
    color: #db8534;
    letter-spacing: 5px;
   
    position: relative;
    perspective: 1000px;
  }

  .three-d-text::before {
    content: attr(data-text);
    position: absolute;
    top: 2px;
    left: 2px;
    color: #2c3e50;
    transform: rotateY(10deg);
    z-index: -1;
  }

  .eleWidth{
    width: 80%;
  }