<div class="container mt-5 py-5">
    <div class="row justify-content-center">
        <div class="form-group col-md-10 mt-2 ">
            <label for="">Search By Name</label>
            <input type="text" class="form-control rounded-5 shadow" placeholder="Enter user name" [(ngModel)]="namesearch" (click)="valueChanged()">
        </div>
        <div class="col-md-12 mt-4">
            <table class="table table-striped border">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>UserName</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users | filter:namesearch; index as i">
                        <td>{{user.id}}</td>
                        <td>{{user.name}}</td>
                        <td>{{user.username}}</td>
                        <td>{{user.email}}</td>
                  
                    </tr>

                
                </tbody>
            </table>
        </div>
    </div>
    </div>