<div class="container mt-5">
    <div class="row justify-content-center">
        <div class=" col-md-6 shadow rounded  py-5 mt-5">
               <h4 class="text-info text-center">Reactive Form</h4>
        <form  [formGroup]="myReactiveForm" (ngSubmit)="onSubmit()" style="margin-left: 35px;">
            <div class="form-group">
                <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                <input type="text" formControlName="email"  class="form-control" id="staticEmail" placeholder="Enter email">
               <small class="text-danger" *ngIf="!myReactiveForm.get('email')?.valid &&
               myReactiveForm.get('email')?.touched
               ">
    
               <small *ngIf="myReactiveForm.get('email')?.errors?.['required']">
                Email field is required.
               </small>
               <small *ngIf="myReactiveForm.get('email')?.errors?.['minlength']">
               This field must have at least 7 characters.
               </small>
               <small *ngIf="myReactiveForm.get('email')?.errors?.['maxlength']">
                This field must have at most 50 characters.
                </small>
                <small *ngIf="myReactiveForm.get('email')?.errors?.['emailNotAllowed']">
                    Email is already taken, try another.
                    </small>
               </small>
            </div>
            </div>
        <div class="form-group">
            <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
            <input type="password" formControlName="password" class="form-control" id="inputPassword" placeholder="Password">
            </div>
        </div>

              <div formGroupName="address" class="col-md-10">
                          <div class="row mt-3">
                              <div class="col">
                                <input type="text" formControlName="state"  class="form-control" placeholder="enter the state">
                              </div>
                              <div class="col">
                                <input type="text" formControlName="district"  class="form-control" placeholder="enter the district">
                              </div>

                          </div>
                          <div class="row mt-3">
                            <div class="col">
                                <input type="text" formControlName="taluka"  class="form-control" placeholder="enter the taluka">
                                </div>
                                <div class="col">
                                    <input type="text" formControlName="village"  class="form-control" placeholder="enter the village">
                                    </div>

                                </div>


              </div>
              <div class="form-group" formArrayName="hobbies">
                <div *ngFor="let hobby of hobbiesFormArray.controls; let i = index">
                    <label>Hobby  {{i + 1}}</label>
                    <input class="form-control" type="text" formControlName="{{i}}" placeholder="Enter hobby">
                </div>
                <button (click)="addHobby()" class="btn btn-success mt-2">Add Hobby</button>
            </div>

        <button type="submit" [disabled]="!myReactiveForm.valid" class="btn btn-success mt-3">Submit</button>
        </form>
</div>
</div>
</div>
