
  <div class="container mt-5">

  <div class="row justify-content-center ">
    <div class="col-md-8 mt-5 py-5  rounded shadow ">

<!-- <div style="text-align: center;">
    <p>Today's  Full Date  : {{date | date:'full'}}</p>

    <p>Today's  short  Date  : {{date | date:'short'}}</p>
    
    <p>Today's  Mediaum  Date  : {{date | date:'medium'}}</p>
    
    
    <h1>UpperCase Pipe</h1>
    
    <p>Full Name : {{fullName | uppercase}}</p>
    
    <h1>LowerCase Pipe</h1>
    
    <p>Full Name : {{fullName | lowercase}}</p>
    
    
    <h1>TitleCasePipe</h1>
    
    <p>Today's Day : {{day | titlecase}}</p>

    <h1>Currency Pipe</h1>

    <p>USD {{price | currency:'USD'}}</p>
    <p>INR {{price | currency:'INR'}}</p>
    <p>EUR {{price | currency:'CNY'}}</p>

    <h1>PercentPipe</h1>

    <p>Total Discount: {{discount | percent}}</p>

    <div>
        <ul>
            <li *ngFor="let item of observable | async ">{{item}}</li>
        </ul>
    </div> -->

   <h2 class="text-center text-info text-bg-light">Promise to Observable with Async Pipe </h2>
    <div>
        <ul>
          <li *ngFor="let item of promiseObservable | async">{{ item }}</li>
        </ul>
      </div>
     </div>
     </div>
<!-- </div> -->